

.site-footer {
  min-height: 200px;
  background: #222;
  margin-top: 80px;

  span {
    color: #fff;
    font-family: 'Bebas', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 160%;

  }


  .bottom-footer {
    background: @red;

  }

}

.home .site-footer {
  margin-top: 0;
}

.signature {
  background: url(./images/signature.png);

}